<div *ngIf="fileInfo.durationMs">

  <mat-grid-list
    class="actions"
    cols="2"
    rowHeight="70px">
    <mat-grid-tile>
      <!-- <button
        mat-raised-button
        color="primary"
        (click)="playerPlayPause()"
        class="actions-source__play"
        ><i class="material-icons" *ngIf="!isPaused">pause</i><i
        class="material-icons" *ngIf="isPaused">play_arrow</i></button>

        <span class="actions-source__time">
        {{fileInfo.duration}}
      </span> -->
      <ve-video-controls preview="source"></ve-video-controls>
    </mat-grid-tile>
    <mat-grid-tile>
      <ve-video-controls preview="target"></ve-video-controls>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="reverse">
    <ve-keyframes-line
      *ngIf="keyFrames.length"
      [keyFrames]="keyFrames"></ve-keyframes-line>
  </div>

  <mat-grid-list 
    class="actions"
    cols="2"
    rowHeight="70px"
    *ngIf="fileInfo.durationMs && keyFrames.length">
    <mat-grid-tile>
      <button
        mat-raised-button
        (click)="actionReverse($event)"
        color="accent"
        >Reverse
        <i class="material-icons">swap_horiz</i></button>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-download-link></app-download-link>
    </mat-grid-tile>
  </mat-grid-list>
</div>
