<div *ngIf="fileInfo.durationMs">

  <mat-grid-list
    class="actions"
    cols="2"
    rowHeight="70px">
    <mat-grid-tile>
      <ads-video-controls preview="source"></ads-video-controls>
    </mat-grid-tile>
    <mat-grid-tile>
      <ads-video-controls preview="target"></ads-video-controls>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="work-progress">
    <mat-progress-bar style="width:100%" class="work-progress-bar" *ngIf="reverseProgress" mode="determinate"
      color="warn" [value]="reverseProgress"></mat-progress-bar>
  </div>

  <div class="keyFrames">
    <ads-keyframes-line
      *ngIf="keyFrames.length"
      [keyFrames]="keyFrames"></ads-keyframes-line>
  </div>

  <mat-grid-list 
    class="actions"
    cols="2"
    rowHeight="70px"
    *ngIf="fileInfo.durationMs && keyFrames.length">
    <mat-grid-tile>
      <button
        [disabled]="disabled"
        mat-raised-button
        (click)="actionReverse($event)"
        color="accent"
        >Reverse
        <i class="material-icons">swap_horiz</i></button>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-download-link></app-download-link>
    </mat-grid-tile>
  </mat-grid-list>
  
  <div class="goo">
    <ng-adsense></ng-adsense>
  </div>

</div>
