<div class="preview-video preview-video__{{id}}"
  [ngClass]="{'preview-video__empty': !previewVideo?.src}">
  <div class="video-preview">
    <div class="video-wrapper">
      <mat-progress-bar
        *ngIf="progress > 0 && progress < 100 && !previewVideo?.src"
        class="video-load"
        mode="determinate"
        color="primary"
        [value]="progress"
        ></mat-progress-bar>

      <p *ngIf="!previewVideo?.src">
        Please wait, still reading the file...
      </p>

      <div>
        <video
          *ngIf="previewVideo && previewVideo.src"
          class="video-element video-js"
          id="{{id + 'PreviewVideoPlayer'}}"
          width="640"
          height="264"
        >
          <!-- <source
            [src]="sourcePreviewVideo.src"
            type="{{sourcePreviewVideo.type}}" /> -->
        </video>
      </div>
    </div>
  </div>
</div>
