<div class="preview-video" [ngClass]="{'preview-video__empty': !previewVideo?.src}">
  <div class="video-preview">
    <div class="video-wrapper">
      <mat-progress-bar
        *ngIf="progress > 0 && progress < 100 && !previewVideo?.src"
        class="video-load"
        mode="determinate"
        color="primary"
        [value]="progress"
        ></mat-progress-bar>

      <video
        *ngIf="previewVideo?.src"
        id="elPreviewVideo"
        #elPreviewVideo
        class="video-js"
        controls
        preload="auto"
        width="640"
        height="264"
        poster=""
        data-setup="{}"
      >
        <source
          [src]="previewVideo.src"
          type="{{previewVideo.type}}" />
      </video>
    </div>
  </div>
</div>
