<div class="file-picker"
    ngxFilePicker
    ngxFileDropzone
    #veFilePicker="ngxFilePicker"
    [accept]="acceptType"
    [readMode]="readModeType"
    (readStart)="onReadStart($event)"
    (readEnd)="onReadEnd($event)"
    (filePick)="onFilePicked($event)"
    (fileDrop)="onFilePicked($event)">
    <span *ngIf="!fileUploadProgress">
      <i class="material-icons">add_to_queue</i>
      {{ title }}:
    </span>
    <span *ngIf="fileUploadProgress">
      <i class="material-icons">hourglass_empty</i>
      Reading file...
    </span>
  </div>
