<div class="file-picker"
    ngxFilePicker
    ngxFileDropzone
    #veFilePicker="ngxFilePicker"
    [accept]="acceptType"
    [readMode]="readModeType"
    (readStart)="onReadStart()"
    (readEnd)="onReadEnd()"
    (filePick)="onFilePicked($event)"
    (fileDrop)="onFilePicked($event)">
    <span *ngIf="!fileUploadProgress">{{ title }}
      <i class="material-icons">add_to_queue</i>
    </span>
    <span *ngIf="fileUploadProgress">
      <i class="material-icons">hourglass_empty</i>
      Reading file...
    </span>
  </div>
