<div class="preview-video preview-video__{{id}}"
  [ngClass]="{'preview-video__empty': !previewVideo?.src}">
  <div class="video-preview">
    <div class="video-wrapper">
      <mat-progress-bar
        *ngIf="progress > 0 && progress < 100"
        class="video-load"
        mode="determinate"
        [value]="progress"
        color="warn"
        ></mat-progress-bar>

      <div #videoEl class="video-parent">
        <video
          *ngIf="previewVideo && previewVideo.src"
          class="video-element video-js"
          id="{{id + 'PreviewVideoPlayer'}}"
          [controls]="controls"
          width="560"
          height="315"
        >
          <source
            [src]="previewVideo.src"
            type="{{previewVideo.type}}" />
        </video>
      </div>

      <div
        *ngIf="!previewVideo?.src">
        <p
          class="video-preview__read">
          {{ 'PREVIEW.STILLREAD' | translate }}...
        </p>
        <div #consoleEl class="video-preview__console">
          <pre>
            {{ console }}
          </pre>
        </div>
      </div>

    </div>
  </div>

</div>
