<div class="preview-video preview-video__{{id}}"
  [ngClass]="{'preview-video__empty': !previewVideo?.src}">
  <div class="video-preview">
    <div class="video-wrapper">
      <mat-progress-bar
        *ngIf="progress > 0 && progress < 100 && !previewVideo?.src"
        class="video-load"
        mode="determinate"
        color="primary"
        [value]="progress"
        ></mat-progress-bar>

      <p *ngIf="!previewVideo?.src"
        class="video-preview__read">
        {{ 'PREVIEW.STILLREAD' | translate }}...
      </p>

      <div #videoEl>
        <video
          *ngIf="previewVideo && previewVideo.src"
          class="video-element video-js"
          id="{{id + 'PreviewVideoPlayer'}}"
          [controls]="controls"
          width="560"
          height="315"
        >
          <source
            [src]="previewVideo.src"
            type="{{previewVideo.type}}" />
        </video>
      </div>

    </div>
  </div>

</div>
