.ve-video{
  &-preview {
    max-height: 320px;
    max-width: 100%;
  }
  &-volume .mat-figure {
    flex-direction: column;
  }
}
.actions {
  font-size: 18px;
  line-height: 1;
  vertical-align: middle;
  margin: 20px 0;
  & &-source {
    &__play {
      margin: 0 5px;
    }
    &__time {
      line-height: 1em;
      display: inline-flex;
      margin: 0 5px;
    }
  }

  .material-icons, button {
    font-size: 100%;
    line-height: 1;
    vertical-align: middle;
  }
}