
<form [formGroup]="form" class="upload-form">
  <!-- Загрузка файла -->
  <app-file-upload class="file-upload__ctrl"
    formControlName="fileCtrl"
    *ngIf="!fileUploaded"
    [acceptType]="'video/*'"
    (fileUploaded)="onFilePicked($event)"
    [title]="'Drag video file, or click here'">
  </app-file-upload>
</form>

<mat-grid-list
  cols="13"
  rowHeight="320" 
  *ngIf="fileUploaded">
  <mat-grid-tile [colspan]="isTargetReady ? 6 : 12">
    <ve-video-preview
      class="ve-video-preview"
      [controls]="false"
      id="source"></ve-video-preview>
  </mat-grid-tile>
  <mat-grid-tile colspan="6" *ngIf="isTargetReady">
    <ve-video-preview
      class="ve-video-preview"
      id="target"
      ></ve-video-preview>
  </mat-grid-tile>
  <mat-grid-tile class="ve-video-volume">
    <i class="material-icons">
      volume_up
      </i><br />
    <mat-slider
      color="primary"
      min="0"
      max="1"
      step="0.05"
      value="0.25"
      (change)="volumeChange($event)"
      vertical></mat-slider><br />
    <i class="material-icons">
      volume_off
    </i>
  </mat-grid-tile>
</mat-grid-list>




<mat-tab-group *ngIf="fileUploaded" animationDuration="0">
  <mat-tab label="Trim">
    <ve-video-trimmer *ngIf="isPreviewReady"></ve-video-trimmer>
  </mat-tab>
  <mat-tab label="Reverse">
    <ve-video-reverse *ngIf="isPreviewReady"></ve-video-reverse>
  </mat-tab>
</mat-tab-group>


