.ve-video{
  &-preview {
    max-height: 320px;
  }
  &-volume .mat-figure {
    flex-direction: column;
  }
}
.actions {
  font-size: 18px;
  line-height: 1;
  vertical-align: middle;
  .material-icons, button {
    font-size: 100%;
    line-height: 1;
    vertical-align: middle;
  }
}