
<form [formGroup]="form" class="upload-form">
  <!-- Загрузка файла -->
  <app-file-upload class="file-upload__ctrl"
    formControlName="fileCtrl"
    *ngIf="!fileUploaded"
    [acceptType]="'video/*'"
    (fileUploaded)="onFilePicked($event)"
    [title]="'Drag video file, or click here'">
  </app-file-upload>
</form>

<mat-grid-list cols="2" rowHeight="320">
  <mat-grid-tile>
    <ve-video-preview
      id="source"
      *ngIf="fileUploaded"></ve-video-preview>
  </mat-grid-tile>
  <mat-grid-tile>
    <ve-video-preview
      id="target"
      ></ve-video-preview>
  </mat-grid-tile>
</mat-grid-list>



<mat-tab-group *ngIf="fileUploaded">
  <mat-tab label="Trim">
    <ve-video-trimmer *ngIf="fileUploaded && isPreviewReady"></ve-video-trimmer>
  </mat-tab>
  <mat-tab label="Reverse">
    <ve-video-reverse *ngIf="fileUploaded && isPreviewReady"></ve-video-reverse>
  </mat-tab>
</mat-tab-group>


