
<div class="goo" *ngIf="!fileUploaded()">
  <ng-adsense
    adClient="ca-pub-7640562161899788"
    adSlot="4902298468"
    display="block"
    adFormat="link"
  ></ng-adsense>
</div>


<form [formGroup]="form" class="upload-form">
  <!-- Загрузка файла -->
  <app-file-upload class="file-upload__ctrl"
    formControlName="fileCtrl"
    *ngIf="!fileUploaded()"
    [acceptType]="'video/*'"
    (fileUploaded)="onFilePicked($event)"
    [title]="'BUTTONS.UPLOADAREA' | translate">
  </app-file-upload>
</form>

<mat-grid-list
  cols="13"
  rowHeight="320" 
  *ngIf="fileUploaded()">
  <mat-grid-tile [colspan]="isTargetReady ? 6 : 12">
    <ads-video-preview
      class="ads-video-preview"
      [controls]="false"
      id="source"></ads-video-preview>
  </mat-grid-tile>
  <mat-grid-tile colspan="6" *ngIf="isTargetReady">
    <ads-video-preview
      class="ads-video-preview"
      [controls]="false"
      id="target"
      ></ads-video-preview>
  </mat-grid-tile>
  <mat-grid-tile class="ads-video-volume" *ngIf="isPreviewReady">
    <i class="material-icons">
      volume_up
      </i><br />
    <mat-slider
      color="primary"
      min="0"
      max="1"
      step="0.05"
      value="0.25"
      (change)="volumeChange($event)"
      vertical></mat-slider><br />
    <i class="material-icons">
      volume_off
    </i>
  </mat-grid-tile>
</mat-grid-list>



<nav mat-tab-nav-bar *ngIf="isPreviewReady">
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link | localize"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">{{link.label | translate}}</a>
</nav>
<router-outlet></router-outlet>

<ads-greeting hideButtons="true"></ads-greeting>
