.cut {
  position: relative;
  min-height: 67px;
  .mat-slider {
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    z-index: 10;
  }
  &-min, &-max {
    &.mat-slider:not(.mat-slider-disabled) {
      &.ng-touched, &.cdk-focused {
        .mat-slider-thumb-label {
          display: flex;
          border-radius: 2px;
          width: auto;
          height: auto;
          transform: rotate(-90deg);
          padding: 0 2px;
          top: 27px;
          box-shadow: 0px 0px 1px rgba(0,0,0,.7);
          background-color: #ffcc0b;
          min-width: 70px;
        }

        .mat-slider-thumb-label-text {
          transform: none;
          transition: none;
          font-size: 16px;
          opacity: 1;
        }
        .mat-slider-thumb {
          display: none;
        }
      }
    }
    &.mat-slider-horizontal {
      .mat-slider-wrapper {
        height: 0;
        top: 0;
        left: 0;
        right: 0;
      }
      .mat-slider-track-wrapper {
        height: 0;
      }
      .mat-slider-thumb-container {
        height: 0;
        top: 0;
      }
      .mat-slider-thumb {
        border-radius: 2px;
        width: 19px;
        height: 70px;
        transform: none;
        bottom: auto;
        top: 0;
        right: -20px;
        background-color: #ffcc0b;
        border: 0;
        &:after {
          font-family: 'Material Icons';
          font-size: 21px;
          position: absolute;
          top: 24px;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  &-min {
    &.mat-slider:not(.mat-slider-disabled) {
      &.ng-touched,
      &.cdk-focused {
        .mat-slider-thumb-label {
          right: -26px;
        }
      }
    }
    &.mat-slider-horizontal {
      .mat-slider-thumb {
        right: 1px;
        &:after {
          content: 'skip_next';
        }
      }
    }
  }
  &-max {
    &.mat-slider:not(.mat-slider-disabled) {
      &.ng-touched,
      &.cdk-focused {
        .mat-slider-thumb-label {
          right: -47px;
        }
      }
    }
    &.mat-slider-horizontal {
      .mat-slider-thumb {
        &:after {
          content: 'skip_previous';
        }
      }
    }
  }
  &-shadow {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,215,45,.4);
    &__min {
      left: 0;
    }
    &__max {
      right: 0;
    }
  }
  &-play-progress.mat-progress-bar {
    position: absolute;
    bottom: 100%;
    z-index: 1;
    &.mat-accent .mat-progress-bar-buffer {
      background-color: rgba(0, 0, 0, 0);
    }
    &.mat-accent .mat-progress-bar-background {
      fill: rgba(0, 0, 0, 0);
    }
    &.mat-accent .mat-progress-bar-fill {
      transition: transform 200ms linear;
    }
  }
}
.actions {
  &-cut {
    &__block {
    }
    &__title {
      display: inline-flex;
      line-height: 1em;
      margin: 0 5px;
    }
    &__buttons {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      button {
        margin: 0 5px;
      }
      @media screen and (max-width: 1023px) {
        .hide-mobile {
          display: none;
        }
      }
      @media screen and (min-width: 1024px) {
        .hide-desktop {
          display: none;
        }
      }
    }
  }
}