<mat-grid-list
  class="actions"
  cols="2"
  rowHeight="70px"
  *ngIf="fileInfo.durationMs && keyFrames.length">
  <mat-grid-tile class="actions-source">
    <button
      mat-raised-button
      color="primary"
      (click)="trimmedRangePlayPause()"
      class="actions-source__play"
      ><i class="material-icons" *ngIf="!isPaused">pause</i><i
      class="material-icons" *ngIf="isPaused">play_arrow</i></button>
    <!-- <mat-checkbox [(ngModel)]="!isRemoveAudio">Audio</mat-checkbox> -->

    <span class="actions-source__time">
      <i
        class="material-icons">skip_next</i>{{trim.duration}}<i
        class="material-icons">skip_previous</i>
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>

<div class="trim">
  <mat-progress-bar
    [ngStyle]="{left: playProgress.left, width: playProgress.width}"
    class="trim-play-progress"
    mode="determinate"
    color="accent"
    [value]="playProgress.time"
    ></mat-progress-bar>
  <ve-keyframes-line
    *ngIf="keyFrames.length"
    [keyFrames]="keyFrames"></ve-keyframes-line>

  <div class="trim-shadow trim-shadow__min" [ngStyle]="{width: shadowSize('min')}"></div>
  <div class="trim-shadow trim-shadow__max" [ngStyle]="{width: shadowSize('max')}"></div>

  <mat-slider
    class="trim-min"
    *ngIf="fileInfo.durationMs && keyFrames.length"
    thumbLabel="true"
    min="0"
    [max]="fileInfo.durationMs"
    [step]="1"
    [(ngModel)]="trim.min"
    (input)="setRange($event, 'min', 'input')"
    (change)="setRange($event, 'min', 'change')"
    [displayWith]="helpersService.ms2TimeStringNoMs"
    [value]="trim.min"
    ></mat-slider>
  <mat-slider
    class="trim-max"
    *ngIf="fileInfo.durationMs && keyFrames.length"
    thumbLabel="true"
    min="0"
    [max]="fileInfo.durationMs"
    [step]="1"
    [(ngModel)]="trim.max"
    (input)="setRange($event, 'max', 'input')"
    (change)="setRange($event, 'max', 'change')"
    [displayWith]="helpersService.ms2TimeStringNoMs"
    [value]="fileInfo.durationMs"
    ></mat-slider>
</div>


<mat-grid-list 
  class="actions"
  cols="2"
  rowHeight="70px"
  *ngIf="fileInfo.durationMs && keyFrames.length">

  <mat-grid-tile class="actions-trim">
    <div
      *ngIf="trim.max < fileInfo.durationMs || trim.min > 0"
      class="actions-trim__block">
      <span
        class="actions-trim__title"
        >
        {{ 'BUTTONS.TRIM' | translate }}:
      </span>
      <div class="actions-trim__buttons">
        <button
          mat-raised-button
          (click)="actionTrim($event, false)"
          color="accent"
          ><span class="hide-mobile">{{ 'BUTTONS.FASTTRIM' | translate }}</span>
          <i class="material-icons">fast_forward</i><span class="hide-desktop">_</span>
          <i class="material-icons hide-desktop">fast_rewind</i></button>
        <button
          mat-raised-button
          (click)="actionTrim($event, true)"
          color="accent"
          ><span class="hide-mobile">{{ 'BUTTONS.ACCURATETRIM' | translate }}</span>
          <i class="material-icons">skip_next</i><span class="hide-desktop">&#8230;</span>
          <i class="material-icons hide-desktop">skip_previous</i></button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-download-link></app-download-link>
  </mat-grid-tile>
</mat-grid-list>

<mat-progress-bar style="width:100%" class="trim-work-progress" *ngIf="trimProgress"
  mode="determinate" color="primary" [value]="trimProgress"></mat-progress-bar>