<div class="trim-actions" *ngIf="fileInfo.durationMs && keyFrames.length">
  <div class="trim-actions__left"></div>
  <div class="trim-actions__main">
    <button
      mat-stroked-button
      (click)="trimmedRangePlayPause()"
      ><i class="material-icons" *ngIf="!isPaused">pause</i><i
      class="material-icons" *ngIf="isPaused">play_arrow</i></button>
    <span>
      {{trim.duration}}
    </span>
    <button mat-stroked-button (click)="actionTrim($event, false)" *ngIf="trim.max < fileInfo.durationMs || trim.min > 0"><i
        class="material-icons">last_page</i>Fast trim<i class="material-icons">first_page</i></button>
    <button mat-stroked-button (click)="actionTrim($event, true)"
      *ngIf="trim.max < fileInfo.durationMs || trim.min > 0"><i class="material-icons">last_page</i>Accurate<i
        class="material-icons">first_page</i></button>
    <button mat-stroked-button (click)="actionReverse($event)"
      ><i class="material-icons">swap_horiz</i>Reverse</button>
    <!-- <mat-checkbox [(ngModel)]="!isRemoveAudio">Audio</mat-checkbox> -->
  </div>
  <div class="trim-actions__right"></div>
</div>


<div class="trim">
  <mat-progress-bar
    [ngStyle]="{left: playProgress.left, width: playProgress.width}"
    class="trim-play-progress"
    mode="determinate"
    color="accent"
    [value]="playProgress.time"
    ></mat-progress-bar>
  <app-keyframes-line
    *ngIf="keyFrames.length"
    [keyFrames]="keyFrames"></app-keyframes-line>

  <div class="trim-shadow trim-shadow__min" [ngStyle]="{width: shadowSize('min')}"></div>
  <div class="trim-shadow trim-shadow__max" [ngStyle]="{width: shadowSize('max')}"></div>

  <mat-slider
    class="trim-min"
    *ngIf="fileInfo.durationMs && keyFrames.length"
    thumbLabel="true"
    min="0"
    [max]="fileInfo.durationMs"
    [step]="1"
    [(ngModel)]="trim.min"
    (input)="setRange($event, 'min', 'input')"
    (change)="setRange($event, 'min', 'change')"
    [displayWith]="helpersService.ms2TimeStringNoMs"
    [value]="trim.min"
    ></mat-slider>
  <mat-slider
    class="trim-max"
    *ngIf="fileInfo.durationMs && keyFrames.length"
    thumbLabel="true"
    min="0"
    [max]="fileInfo.durationMs"
    [step]="1"
    [(ngModel)]="trim.max"
    (input)="setRange($event, 'max', 'input')"
    (change)="setRange($event, 'max', 'change')"
    [displayWith]="helpersService.ms2TimeStringNoMs"
    [value]="fileInfo.durationMs"
    ></mat-slider>
</div>
  <mat-progress-bar style="width:100%" class="trim-work-progress" *ngIf="trimProgress"
    mode="determinate" color="primary" [value]="trimProgress"></mat-progress-bar>