<mat-grid-list
  class="actions"
  cols="4"
  rowHeight="75px"
  *ngIf="fileInfo.durationMs && keyFrames.length">
  <mat-grid-tile>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-stroked-button
      (click)="trimmedRangePlayPause()"
      ><i class="material-icons" *ngIf="!isPaused">pause</i><i
      class="material-icons" *ngIf="isPaused">play_arrow</i></button>
      &nbsp;
      <span>
      <i
        class="material-icons">last_page</i>{{trim.duration}}<i
        class="material-icons">first_page</i>
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-stroked-button (click)="actionTrim($event, false)"
      *ngIf="trim.max < fileInfo.durationMs || trim.min > 0">Fast trim
      <i class="material-icons">fast_forward</i></button>
    <button mat-stroked-button (click)="actionTrim($event, true)"
      *ngIf="trim.max < fileInfo.durationMs || trim.min > 0">Accurate
      <i class="material-icons">skip_next</i></button>
    <!-- <mat-checkbox [(ngModel)]="!isRemoveAudio">Audio</mat-checkbox> -->
  </mat-grid-tile>
  <mat-grid-tile>
    <app-download-link *ngIf="downloadHref" [link]="downloadHref"></app-download-link>
  </mat-grid-tile>
</mat-grid-list>


<div class="trim">
  <mat-progress-bar
    [ngStyle]="{left: playProgress.left, width: playProgress.width}"
    class="trim-play-progress"
    mode="determinate"
    color="accent"
    [value]="playProgress.time"
    ></mat-progress-bar>
  <ve-keyframes-line
    *ngIf="keyFrames.length"
    [keyFrames]="keyFrames"></ve-keyframes-line>

  <div class="trim-shadow trim-shadow__min" [ngStyle]="{width: shadowSize('min')}"></div>
  <div class="trim-shadow trim-shadow__max" [ngStyle]="{width: shadowSize('max')}"></div>

  <mat-slider
    class="trim-min"
    *ngIf="fileInfo.durationMs && keyFrames.length"
    thumbLabel="true"
    min="0"
    [max]="fileInfo.durationMs"
    [step]="1"
    [(ngModel)]="trim.min"
    (input)="setRange($event, 'min', 'input')"
    (change)="setRange($event, 'min', 'change')"
    [displayWith]="helpersService.ms2TimeStringNoMs"
    [value]="trim.min"
    ></mat-slider>
  <mat-slider
    class="trim-max"
    *ngIf="fileInfo.durationMs && keyFrames.length"
    thumbLabel="true"
    min="0"
    [max]="fileInfo.durationMs"
    [step]="1"
    [(ngModel)]="trim.max"
    (input)="setRange($event, 'max', 'input')"
    (change)="setRange($event, 'max', 'change')"
    [displayWith]="helpersService.ms2TimeStringNoMs"
    [value]="fileInfo.durationMs"
    ></mat-slider>
</div>

<mat-progress-bar style="width:100%" class="trim-work-progress" *ngIf="trimProgress"
  mode="determinate" color="primary" [value]="trimProgress"></mat-progress-bar>