.trim {
  margin: 20px 30px;
  position: relative;
  min-height: 67px;
  .mat-slider {
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    z-index: 10;
  }
  &-min, &-max {
    &.mat-slider:not(.mat-slider-disabled) {
      &.ng-touched, &.cdk-focused {
        .mat-slider-thumb-label {
          display: flex;
          border-radius: 2px;
          width: auto;
          height: auto;
          transform: rotate(-90deg);
          padding: 0 2px;
          top: 24px;
          box-shadow: 0px 0px 1px rgba(0,0,0,.7);
          background-color: #ffcc0b;
        }

        .mat-slider-thumb-label-text {
          transform: none;
          transition: none;
          font-size: 16px;
          opacity: 1;
        }
        .mat-slider-thumb {
          display: none;
        }
      }
    }
    &.mat-slider-horizontal {
      .mat-slider-wrapper {
        height: 0;
        top: 0;
        left: 0;
        right: 0;
      }
      .mat-slider-track-wrapper {
        height: 0;
      }
      .mat-slider-thumb-container {
        height: 0;
        top: 0;
      }
      .mat-slider-thumb {
        border-radius: 2px;
        width: 19px;
        height: 68px;
        transform: none;
        bottom: auto;
        top: 0;
        right: -20px;
        background-color: #ffcc0b;
      }
    }
  }
  &-min {
    &.mat-slider:not(.mat-slider-disabled) {
      &.ng-touched,
      &.cdk-focused {
        .mat-slider-thumb-label {
          right: -23px;
        }
      }
    }
    &.mat-slider-horizontal {
      .mat-slider-thumb {
        right: 1px;
      }
    }
  }
  &-max {
    &.mat-slider:not(.mat-slider-disabled) {
      &.ng-touched,
      &.cdk-focused {
        .mat-slider-thumb-label {
          right: -43px;
        }
      }
    }
  }
  &-shadow {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.35);
    &__min {
      left: 0;
    }
    &__max {
      right: 0;
    }
  }
  &-play-progress {
    position: absolute;
    bottom: 100%;
    z-index: 1;
    &.mat-accent .mat-progress-bar-buffer {
      background-color: rgba(0, 0, 0, 0);
    }
    &.mat-accent .mat-progress-bar-background {
      fill: rgba(0, 0, 0, 0);
    }
    &.mat-accent .mat-progress-bar-fill {
      transition: transform 250ms linear;
    }
  }
}
.trim-actions {
  font-size: 20px;
  line-height: 1;
  vertical-align: middle;
  .material-icons, button {
    font-size: 100%;
    line-height: 1;
    vertical-align: middle;
  }
}