<div class="greeting">
  <mat-grid-list class="greeting-list" cols="2" rowHeight="215px">
    <mat-grid-tile *ngFor="let card of cards;let i=index;">
      <mat-card class="greeting-card greeting-card__{{i}}">
        <mat-card-header>
          <i class="material-icons" mat-card-avatar>{{ ('GREETING.' + card + '.ICON') | translate }}</i>
          <mat-card-title>
            {{ ('GREETING.' + card + '.TITLE') | translate }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ ('GREETING.' + card + '.TEXT') | translate }}
        </mat-card-content>
        <mat-card-actions>
          <ng-container *ngIf="!hideButtons">
            <button mat-raised-button
              color="accent"
              *ngIf="card==='CUT'"
              [routerLink]="'/video/cut' | localize">{{ 'GREETINGBUTTONS.TRYNOW' | translate }}</button>
              <button mat-raised-button
              color="accent"
              *ngIf="card==='EXTRACTAUDIO'"
              [routerLink]="'/video/extract-audio' | localize">{{ 'GREETINGBUTTONS.TRYNOW' | translate }}</button>
              <button mat-raised-button
              color="accent"
              *ngIf="card==='MUTE'"
              [routerLink]="'/video/remove-audio' | localize">{{ 'GREETINGBUTTONS.TRYNOW' | translate }}</button>
              <button mat-raised-button
              color="accent"
              *ngIf="card==='REVERSE'"
              [routerLink]="'/video/reverse' | localize">{{ 'GREETINGBUTTONS.TRYNOW' | translate }}</button>
          </ng-container>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="try-now" *ngIf="!hideButtons">
    <button mat-raised-button color="warn"
      [routerLink]="'/video' | localize">{{ 'GREETINGBUTTONS.TRYNOW' | translate }}</button>
  </div>
</div>

<div class="goo" *ngIf="!hideButtons">
  <ng-adsense></ng-adsense>
</div>
